* { margin:0; padding:0; outline:none; box-sizing:border-box; }  
html { overflow-y: scroll; }

body { background-color:#fff; color:#333; -webkit-font-smoothing: antialiased; font-size:100%; letter-spacing:0.015em; line-height:1.25em; font-family:Arial, sans-serif; }

a { color:#333; text-decoration: none; border:0; outline:0;}
a:hover {text-decoration: underline;}
.inline-text-link { text-decoration:underline; }
.inline-text-link:hover { text-decoration:none; }

h1 { font-size:1em; }
p {font-size:0.8em;}
select:hover { cursor: pointer;}

#warning { display:none; }
#container { width:1000px; margin:0 auto; padding-top:40px; }

#top-nav { float:right; font-size:0.8em; }
#top-nav li { float:left; list-style-type: none; margin-left:15px;}
#home-nav { text-decoration: underline;}

#logo {color:#555; font-size:1.2em; text-decoration:none; }			

#top { clear:both; background-color:#fff; margin-bottom:15px;}
#top input {float:right;}

#option { height:30px;clear:both;
	background: #499bea;
	background: -moz-linear-gradient(top,  #499bea 0%, #207ce5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5));
	background: -webkit-linear-gradient(top,  #499bea 0%,#207ce5 100%);
	background: -o-linear-gradient(top,  #499bea 0%,#207ce5 100%);
	background: -ms-linear-gradient(top,  #499bea 0%,#207ce5 100%);
	background: linear-gradient(to bottom,  #499bea 0%,#207ce5 100%);
}
#personal {background:#499bea; padding:5px 10px; float:left; }
#personal:hover { text-decoration: underline; cursor:pointer;}
#business { background: #c9de96; padding:5px 10px; float:left;}
#business:hover { text-decoration: underline; cursor:pointer;}



#left-subcontainer { float:left; width:750px;}

#personal-left { overflow: hidden;}
#focus { display:none; }
#slide-1 { background:url('img/slide-safe-family.jpg'); width:750px; height:400px; }
#slide-1 h1 { padding-top:30px; font-size:1.5em; margin-bottom:20px; line-height: 1.3;}
#slide-1 article { width:350px; padding:20px 20px 20px 10px; }
#slide-1 p { margin-bottom:20px; font-size:0.9em; }
#slide-1 p + p { margin-bottom:30px; font-size:0.9em; }
#slide-1 a { font-size:1em; padding:10px; width:75px; border:1px solid #ccc; background-color:#fff;}
#slide-1 a:hover {cursor: pointer; background-color:#FF9F00; border:1px solid #333; text-decoration: none; }

#slide-2 { background:url('img/slide-building-years.jpg'); width:750px; height:400px; }
#slide-2 h1 { padding-top:30px; font-size:1.5em; margin-bottom:20px; line-height: 1.3;}
#slide-2 article { width:325px; padding:20px 20px 20px 10px; }
#slide-2 p { margin-bottom:20px; font-size:0.9em; }
#slide-2 p + p { margin-bottom:30px; font-size:0.9em; }
#slide-2 a { font-size:1em; padding:10px; width:75px; border:1px solid #ccc; background-color:#fff;}
#slide-2 a:hover {cursor: pointer; background-color:#FF9F00; border:1px solid #333; text-decoration: none; }

#slide-3 { background:url('img/slide-wealth-transfer.jpg'); width:750px; height:400px; }
#slide-3 h1 { padding-top:30px; font-size:1.5em; margin-bottom:20px; line-height: 1.3;}
#slide-3 article { float:right; width:300px; padding:10px 20px 20px 20px; }
#slide-3 p { margin-bottom:20px; font-size:0.9em; }
#slide-3 p + p { margin-bottom:30px; font-size:0.9em; }
#slide-3 a { font-size:1em; padding:10px; width:75px; border:1px solid #ccc; background-color:#fff;}
#slide-3 a:hover {cursor: pointer; background-color:#FF9F00; border:1px solid #333; text-decoration: none; }


.slidesjs-pagination { z-index:100; margin-left:10px; margin-top:-35px; position: absolute; }
li.slidesjs-pagination-item { list-style-type: none; float:left; }
li.slidesjs-pagination-item	a { border:1px solid #333; margin-right:5px; text-indent:-9999px; overflow:hidden; width:25px; height:25px; display:block; background-color:#fff;}
li.slidesjs-pagination-item	a:hover { background-color:#FF9F00; border:1px solid #555;}
li.slidesjs-pagination-item	a.active { background-color:#ccc; }

.slide-content-body { max-width: 749px; padding:20px; }
.slide-content-body img { margin-bottom:20px; }
.slide-content-body img.profile { float:left; margin-right:20px; }
.slide-content-body img.profile:last-of-type { float:right; margin-left:20px; }
.slide-content-body header { margin-bottom:10px; }
.slide-content-body article { margin-bottom: 20px; }
.slide-content-body h1 { font-size: 1em; margin-bottom:5px; padding-top:10px; padding-bottom: 5px; text-align: center; }
.slide-content-body h2 { color:#207ce5; font-size:1em; padding-top:15px; margin-bottom:5px; }
.slide-content-body h3 { color:#555; font-size:0.9em; padding-top:10px; margin-bottom: 5px;  }
.slide-content-body p { margin-bottom: 10px; }
.slide-content-body ul { margin:0 3%; margin-bottom:20px; background-color:#ccc; padding:20px; padding-left: 40px; border:1px solid #555; }
.slide-content-body li { list-style-position: outside; list-style-type: square; font-size:0.8em; margin-bottom:5px; }
.slide-content-body footer {  margin-top:30px; border-top:1px solid #ccc; padding-top:10px; }
.slide-content-body footer p { font-size: 0.7em; color:#888;}

#resources { background-color:#9CCEFF; margin-bottom:30px; padding:10px 0 10px 20px; clear:left; overflow:auto;}
#resources h1 { font-size:1em; }
#resources form {float:left; margin-right:50px; }
#resources p { font-size:0.6em; float:right; width:100px; line-height: 1; padding:5px 10px 0 0;}
#personal-brochures {}
#business-brochures { display:none; }

#highlights { margin-bottom:30px; }
#highlights img { margin-right:10px; opacity:0.5; border:0; outline:0;}
#highlights img:hover { opacity:1; }

.content-h1 { margin-bottom:10px; padding-top:20px;}

#testimonials-left { display: none; padding:10px 50px 10px 10px;}
#testimonials-left p { margin-bottom: 5px; }
.comment { width:450px; float: left;}
.comment:nth-of-type(even) {float:right;}
.client { padding-bottom:30px; }
.client i { font-size:0.9em; }

#about-left { display:none; padding:10px 20px 10px 10px;}
#about-left img { float:right; margin-right:30px; margin-top:30px; border-bottom:1px solid #ccc;}
#about-left p { width:450px; margin-bottom:10px;}
#about-left ul { margin-left:20px; margin-bottom: 10px;}
#about-left li { font-size: 0.9em; margin-bottom:5px; list-style-type: square; list-style-position: outside; }
#about-left h2:before { content:'"'; margin-left:-5px; color:#ccc; font-size:1.2em;}
#about-left h2 { font-style:italic; padding-top:30px; font-size:1.8em; color:#999; opacity:0.5;}
#about-left h2:after { content:'"'; color:#ccc; font-size:1.2em;}

#location-left { display:none; padding:10px 20px 10px 10px;}
#location-left img { float:right; margin:0 10px 10px 20px; border:1px solid #ccc; }
#location-left img:hover { border:1px solid #333; }
#location-left p { margin-bottom:10px;}
#location-left ul { margin-left:20px; margin-bottom: 10px;}
#location-left li { font-size: 0.8em; margin-bottom:5px; list-style-type: square; list-style-position: outside; }


#contact-left { display:none; padding:10px 20px 10px 10px;}
#contact-left form { float:right; margin-right:50px; }
#contact-left input[type=text] { width:200px; padding:5px; margin-bottom:10px; border:1px solid #ccc; }
#contact-left input[type=text]:focus { border:1px solid #333;}
#contact-left textarea { border:1px solid #ccc; padding:5px; margin-bottom: 10px; }
#contact-left textarea:focus { border:1px solid #333;}
#contact-left input[type=submit] { padding:3px; width:75px; border:1px solid #ccc; background-color:#fff;}
#contact-left input[type=submit]:hover {cursor: pointer; background-color:#FF9F00; border:1px solid #333;}
#contact-left input[type=reset] {padding:3px; width:55px; border:1px solid #ccc; background-color:#fff; }
#contact-left input[type=reset]:hover {cursor: pointer; background-color:#FF9F00; border:1px solid #333; }
#contact-left img { margin-bottom: 40px; border:1px solid #ccc;}
#contact-left img:hover { border:1px solid #333; }


#privacy-left { display:none; padding:10px 20px 10px 10px;}
#privacy-left h2 { font-size:0.9em; margin-bottom:5px; padding-top:10px; }
#privacy-left p { margin-bottom:10px; }
#privacy-left p + p { text-indent:1em; }

#disclaimer-left { display:none; padding:10px 20px 10px 10px;}
#disclaimer-left p { margin-bottom:10px; }
#disclaimer-left p + p { text-indent:1em; }


#sitemap-left { display:none; padding:10px 20px 10px 10px; margin-bottom:10px; overflow:auto; }
.sitemap-list {float:left; display:inline-block; margin-right:60px; }
#sitemap-left h2 { font-size: 0.9em; margin-bottom:5px; padding-top:10px; }
#sitemap-left ul { margin-left:20px; }
#sitemap-left li { list-style-position: outside; list-style-type: square; font-size:0.8em;}

#accessibility-left { display:none; padding:10px 20px 10px 20px; margin-bottom:10px; }
#accessibility-left h2 { font-size:0.9em; margin-bottom:5px; padding-top:10px; }
#accessibility-left p { margin-bottom:10px; }
#accessibility-left ul { margin-left:20px; margin-bottom: 10px;}
#accessibility-left li { font-size: 0.8em; margin-bottom:5px; list-style-type: square; list-style-position: outside; }




#right-subcontainer {float:right; width:250px; }

#freequote-form { background-color:#9CCEFF; border:1px solid #207ce5; border-top:0; padding:10px; }
#freequote-form h1 {font-size:1em; }
#freequote-form p { font-size:0.7em; padding-top:5px;}
#freequote-form select { float:left; font-size:0.6em; }
#tuTable {width:80px;}
.freequote-radio { font-size:0.7em; }
#freequote-form table { margin-bottom: 10px; }
#freequote-form input[type=radio]:hover { cursor: pointer; }
#freequote-form input[type=submit] { padding:3px; width:75px; border:1px solid #ccc; background-color:#fff;}
#freequote-form input[type=submit]:hover {cursor: pointer; background-color:#FF9F00; border:1px solid #333;}
#freequote-form input[type=reset] {padding:3px; width:55px; border:1px solid #ccc; background-color:#fff; }
#freequote-form input[type=reset]:hover {cursor: pointer; background-color:#FF9F00; border:1px solid #333; }


#testimonials { margin-bottom:40px; background-color:#9CCEFF; border:1px solid #207ce5; border-top:0; padding:10px; overflow:auto; }
#testimonials h1 { font-size:1em; margin-bottom:5px; }
#testimonials p { font-size:0.8em; }
#testimonials a { float:right; color:#333; font-size:0.8em; }
#testimonial-slides {display:none;}




#footer {clear:both; border-top:1px solid #499bea; margin-bottom:50px; padding:10px 0 0 5px;}
#footer-nav { float:left; font-size:0.7em; margin-bottom:5px;}
#footer-nav li { float:left; list-style-type: none; margin-right:15px;}
#footer p { float:right; font-size:0.7em; margin-right:15px; }


.transition { 
-webkit-backface-visibility: hidden; position:relative;
transition: all 200ms ease-out;
transition-property: all;
transition-duration: 200ms;
transition-timing-function: ease-out;
transition-delay: initial;
-webkit-transition: all 200ms ease-out;
-webkit-transition-property: all;
-webkit-transition-duration: 200ms;
-webkit-transition-timing-function: ease-out;
-webkit-transition-delay: initial;
}

.clear {clear:both}

.rounded-corners {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}

.boxshadow {-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;}

/* POP OUT PRODUCTS */

.product-body { max-width: 749px; padding:20px; }
.product-body header { margin-bottom:10px; }
.product-body article { margin-bottom: 20px; }
.product-body h2 { font-size: 0.9em; margin-bottom:5px; padding-top:15px;}
.product-body h3 { font-size: 0.9em; color:#207ce5; margin-bottom:5px; padding-top:15px;}
.product-body p { margin-bottom: 10px; }
.product-body ul { margin-left:20px; }
.product-body li { margin-bottom:5px; list-style-position: outside; list-style-type: square; font-size:0.8em;}
.product-body footer {  margin-top:30px; border-top:1px solid #ccc; padding-top:10px; }
.product-body footer p { font-size: 0.7em; color:#888;}