* { margin:0; padding:0; outline:none; box-sizing:border-box; }  
html { overflow-y: scroll; }

body { background-color:#fff; color:#333; -webkit-font-smoothing: antialiased; font-size:100%; letter-spacing:0.015em; line-height:1.25em; font-family:Arial, sans-serif; }

a { color:#333; text-decoration: none;}
a:hover {text-decoration: underline;}

#container { width:1000px; margin:0 auto; padding-top:40px; }

#top-nav { float:right; font-size:0.8em; margin-bottom:10px;}
#top-nav li { float:left; list-style-type: none; margin-left:15px;}

#logo {color:#555; font-size:1.2em; text-decoration:none; }			

#top { clear:both; background-color:#fff; margin-bottom:5px;}
#top input {float:right;}

#option { padding:5px 0 5px 5px; overflow:auto; 
		background: #ffa84c;            	
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYTg0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjdiMGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d));
		background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%);
		background: -o-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%);
		background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%);
		background: linear-gradient(to bottom,  #ffa84c 0%,#ff7b0d 100%);
}
#personal {float:left; margin-right:10px; font-style:italic;}
#personal:hover {cursor:pointer;}
#business {float:left;}
#business:hover {cursor:pointer;}




#left-subcontainer { float:left; width:750px;}
#focus { display:none; }
.slidesjs-pagination { z-index:100; margin-top:-20px; position: absolute; }
li.slidesjs-pagination-item { list-style-position: outside; list-style-type: none; display:list-item; float:left; }
li.slidesjs-pagination-item	a { text-indent:-999px; overflow:hidden; width:20px; height:20px; display:block; font-size:2em; background-color:#777;}
li.slidesjs-pagination-item	a:hover { background-color:#444;}
li.slidesjs-pagination-item	a.active { background-color:#999;}

#resources { background-color:#FFCD98; margin-bottom:10px; padding:10px 0 10px 20px; clear:left; overflow:auto;}
#resources h1 { font-size:1em; }
#resources form {float:left; margin-right:50px; }
#personal-brochures {}
#business-brochures { display:none; }

#highlights { margin-bottom:50px; }
#highlights img { margin-right:10px; }

#about-left { display:none; }
#location-left { display:none; }
#contact-left { display:none; }
#privacy-left { display:none; }
#disclaimer-left { display:none; }
#sitemap-left { display:none; }
#accessibility-left { display:none; }

#right-subcontainer {float:right; width:250px; }
#freequote-form { background-color:#FFCD98; border:1px solid #ffa84c; border-top:0; padding:10px; }
#freequote-form h1 {font-size:1em; }
#freequote-form p { font-size:0.7em; padding-top:5px;}
#freequote-form select { float:left; font-size:0.6em; }
#tuTable {width:80px;}
.freequote-radio { font-size:0.7em; }
#freequote-form input[type=radio] { vertical-align: middle; }
#freequote-form input[type=submit] { padding:2px; }
#freequote-form input[type=submit]:hover {cursor: pointer;}
#freequote-form input[type=reset] {padding:2px; }
#freequote-form input[type=reset]:hover {cursor: pointer;}


#testimonials {background-color:#FFCD98; border:1px solid #ffa84c; border-top:0; padding:10px; overflow:auto; }
#testimonials h2 { font-size:1em; margin-bottom:5px; }
#testimonials p { font-size:0.8em; }
#testimonials a { float:right; color:#333; font-size:0.8em; }
#testimonial-slides {display:none;}


#footer {clear:both; border-top:1px solid #ccc; margin-bottom:50px; padding:10px 0 0 5px;}
#footer-nav { float:left; font-size:0.7em; margin-bottom:5px;}
#footer-nav li { float:left; list-style-type: none; margin-right:15px;}
#footer p { clear:both; font-size:0.7em; }



.transition { 
-webkit-backface-visibility: hidden; position:relative;
transition: all 200ms ease-out;
transition-property: all;
transition-duration: 200ms;
transition-timing-function: ease-out;
transition-delay: initial;
-webkit-transition: all 200ms ease-out;
-webkit-transition-property: all;
-webkit-transition-duration: 200ms;
-webkit-transition-timing-function: ease-out;
-webkit-transition-delay: initial;
}

.clear {clear:both}

.rounded-corners {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -khtml-border-radius: 15px;
    border-radius: 15px;
}

.boxshadow {-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;}


/* ABOUT PAGE */

/* CONTACT PAGE */

